<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login/Register</mat-card-title>
      <mat-card-subtitle>Angular tutorial</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <form
            [formGroup]="loginFormGroup"
            (ngSubmit)="loginSubmit()"
            (keydown.enter)="$event.preventDefault()"
          >
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="Email"
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility" : "visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <button type="submit" mat-button color="primary">Login</button>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form
            [formGroup]="registerFormGroup"
            (ngSubmit)="registerSubmit()"
            (keydown.enter)="$event.preventDefault()"
          >
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                matInput
                placeholder="First Name"
                formControlName="firstName"
              />
              <mat-icon matSuffix>assignment_ind</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                matInput
                placeholder="Last Name"
                formControlName="lastName"
              />
              <mat-icon matSuffix>assignment_ind</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Email"
                formControlName="email"
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility" :"visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <button type="submit" mat-button color="primary">Register</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
